.profile-section {
    background-color: var(--surface-color);
    padding: 1.5rem;
    margin-top: 2rem;
    border-radius: 8px;
}

.order {
    border-bottom: 1px solid var(--light-gray);
    padding: 1rem 0;
}
.order:last-child {
    border-bottom: none;
}
.order-header {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
.order-item {
    padding-left: 1rem;
    font-size: 0.9rem;
    color: #bbb;
}

.order-detail {
    font-size: 0.8rem;
    color: #999;
    padding-left: 2rem;
    margin-top: 4px;
}
.order-detail strong {
    color: var(--secondary-color);
}
.delivery-info {
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px dashed var(--light-gray);
    color: #ccc;
}

/* NOVO: Estilo para a informação de pagamento */
.payment-info {
    color: #ccc;
    padding-top: 5px;
    margin-top: 5px;
}
.payment-info strong {
    color: var(--success-color);
}


.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.wishlist-buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn-remove-wishlist {
    background: #c0392b;
}